---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Source Sans Pro", Arial, sans-serif;
$base-font-size:   17px;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4b4f5c;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  line-height: 1.42857143;
}

pre, code {
  font-family: "Source Code Pro", "Courier New", "Courier";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
}

p, h2 {
  margin: 20px 0;
}

h1 {
  line-height: 1.1;
  font-size: 42px;
  margin: 0 0 20px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

p {
  line-height: 1.6;
}

section {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #eef1f3;
}

section:first-of-type {
  border-top: 0;
  padding-top: 0;
}

strong {
  font-weight: 600;
}

.breadcrumbs {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumbs a {
  color: #4b4f5c;
}

.site-wrapper {
  padding: 5px 30px 0;
  margin-left: 280px;
}

.site-wrapper .navbar {
  background-color: transparent;
  border: none;
}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 20px 20px 15px;
  width: 280px;
  overflow: auto;
  background: #f7f8f9;
  z-index: 1000;
  border-right: 1px solid #e5e9ed;
}

.sidebar-wrapper ul {
  margin: 0;
  padding: 0;
}

.sidebar-wrapper li {
  list-style-type: none;
}

.sidebar-wrapper h3 {
  display: block;
  margin: 20px 0;
  color: #000;
  font-weight: 500;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.sidebar-wrapper .brand {
  font-size: 32px;
  margin-bottom: 30px;
}

.sidebar-wrapper li {
  line-height: 1.7;
  font-size: 16px;
}

.sidebar-wrapper a {
  color: #4b4f5c;
  text-decoration: none;
}

.sidebar-wrapper a:hover {
  text-decoration: underline;
}

.sidebar-wrapper .active a {
  font-weight: 600;
}

// Hide sidebar on mobile devices
@media (max-width: 768px) {
  .sidebar-wrapper {
    display: none;
  }

  .site-wrapper {
    padding: 5px 30px 0;
    margin-left: 0;
  }
}